.rc-pagination {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding-left: 0;
}

.rc-pagination-item {
    border: solid var(--gx-color-gray-midle-lite) 1px;
    font-size: 20px;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    cursor: pointer;
}


.rc-pagination-item a {
    text-decoration: none;
    font-weight: 500;
    color: var(--gx-color-black);
}

.rc-pagination-item-active {
    border: solid 1px var(--gx-color-blue);
    font-size: 18px;
}

.rc-pagination-item-link:first-child {
    margin-right: 6px;
}

.rc-pagination-item-link {
    border: solid var(--gx-color-gray-midle-lite) 1px;
    height: 40px;
    width: 40px;
    background: none;
    cursor: pointer;
}

.rc-pagination-item-link[disabled=""] {
    pointer-events: none;
}

.rc-pagination-disabled .rc-pagination-item-link::before {
    pointer-events: none;
    color: var(--gx-color-gray-midle-lite);
}

.rc-pagination-item-link::before {
    content: "\2039";
    font-size: 22px;
    color: var(--gx-color-blue);
}

.rc-pagination-item-link[aria-label="next page"]::before {
    content: "\203A";
}

@media screen and (max-width: 400px) {
    .rc-pagination-item, .rc-pagination-item-link {
        height: 30px;
        width: 30px;
    }
}